# ===========================
# .NET / Visual Studio
# ===========================
.vs/
bin/
obj/
*.user
*.suo
*.dbmdl
*.sln.docstates
*.log

# ASP.NET secrets / EF tools
secrets.json
*.psess
*.vspx
*.vsp
*.coverage
*.testsettings

# ===========================
# Node / NPM / Angular
# ===========================
node_modules/
dist/
build/
.env
.env.*.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular temporary files
.angular/
coverage/
.cache/


# ===========================
# OS / Editor / Misc
# ===========================
.DS_Store
Thumbs.db
*.swp
*.bak
*.tmp
.idea/
*.iml
*.vscode/
